#projects {
    /* background-image: linear-gradient(#5ED0A5, #3EAAA2); */
    padding: 45px 0px 150px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#pTitle, #acs, #sankey, #tt, #tss, #browsr {
    opacity: 0;
    transition: 1s;
}

.visible-projects {
    opacity: 1 !important;
    transform: (-10px, 0px);
    transition: transform 0.8s;
    /* margin-top: 20px !important; */
}

.image-wrap {
    position: relative;
    width: 300px;
    height: 193px;
    margin-top: 30px;
}

.projectDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(223deg, rgba(32,32,32,1) 0%, rgba(105,105,105,0.9500175070028011) 53%, rgba(32,32,32,1) 100%);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .3s;
}

.margin-top-10 {
    margin-top: 10px !important;
}

img:hover + .projectDescription, .projectDescription:hover {
    width: 300px;
    height: 194px;
    visibility: visible;
    opacity: 1;
}

#projects img {
    width: 300px !important;
    height: 193px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}
