#skills {
    /* background-image: linear-gradient(#3EAAA2, #496AA4); */
    /* background: white; */
    padding: 45px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #dde1ed !important;
}

.skills-section {
    margin-top: -170px;
    color: #dde1ed !important;
    opacity: 0;
    transition: 1s;
}

.skills-visible {
    margin-top: -170px !important;
    transition: 1s;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.bottom-border {
    border-bottom: 1px solid black !important;
}

.skills-header {
    border-bottom: 1px solid #343a40;
}

.skills-content {
    font-size: 12px !important;
}

.frontEnd, .backEnd, .javaScript, .other{
    width: 100%;
}

.display-5, .skills p {
    margin-bottom: 0px !important;
}

.skills img {
    width: auto;
    height: 40px;
    margin-top: 20px;
}

.bg-mystic {
    background-color: #dde1ed !important;
}

.bg-riverbed {
    background-color: #475466 !important;
}

.bg-swirl {
    background-color: #d2c9c3 !important;
}

