#about img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin-top: -10px;
}

#about h1 {
    padding-left: 15px !important;
}

#about {
    background-image: linear-gradient(#2E408C, #496AA4);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 70px 0px;
    z-index: 2;
}