#about img {
    width: 250px;
    height: 250px;
    /* border-radius: 50%; */
    margin-top: -10px;
}

#about {
    /* background-image: linear-gradient(#2E408C, #496AA4); */
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 70px 0px 220px;
    z-index: 2;
}

#aboutAvatar {
    opacity: 0;
    right: 100px;
    transition: 1s;
}

.avatar-visible {
    opacity: 1 !important;
    right: 0px !important;
    transition: 1s;
}

#aboutDescription {
    opacity: 0;
    margin-top: -100px;
    transition: 1s;
}

.about-visible {
    opacity: 1 !important;
    margin-top: 0px !important;
    transition: 1s;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-bot-15 {
    padding-bottom: 15px !important;
}

.no-display {
    display: none !important;
    transition: 1s;
}

.block-display {
    display: block !important;
    transition: 1s;
}