.jumbotron.jumbotron-fluid {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../images/emeraldBay.jpeg);
    height: 100vh;
    width: 100%;
	color: black;
	background-size: cover;
	background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: bottom center;
    /* border-bottom-left-radius: 40% 20%;
    border-bottom-right-radius: 40% 20%; */
    /* background-color: purple; */
    z-index: 1;
    margin-bottom: 0px !important;
}

.header {
    background-color: #2E408C;
}

.row.justify-content-end {
    padding: 150px 0px;
    font-family: "Courier New", Monospace;
    position: relative;
}