#experience {
    background-image: linear-gradient(#496AA4, #5ED0A5);
    padding: 35px 0px;
    z-index: 2;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.experience h1 {
    padding-left: 15px;
}

.experience .card {
    margin: 20px 0px;
}

.experience img {
    height: auto;
    width: 175px;
}

.card {
    border: 0px !important;
}

.card-body {
    padding: 1rem !important;
}

.card.bg-dark {
    color: white !important;
}

.card.bg-light {
    color: black !important;
}

.col-md-3 {
    padding-top: 20px;
}

.card .col-md-9 ul {
    margin: 0px !important;
}